<div class="blog_show">
	<div class="container"> 
			<div class="row">
				<div class="col-md-8">
					<div class="img-fluid">
								<%= image_tag  @blog.image_url unless @blog.image.blank?    %> 
					</div>
 				
  				<h1><%= @blog.title %></h1>  
 					<p><%= @blog.description %></p> 
 					
 					<% if user_signed_in? %>
							<% if @blog.user_id == current_user.id %>
							<%= link_to 'Edit', edit_blog_path(@blog) %> |
							<%= link_to 'Back', blogs_path %>
						<% end %>
					<% end %>
				<br>
				<h4><%= @blog.comments.count %> Comments</h4>
					 <br>
					<%= render @blog.comments %>
			</div>

			<div class="col-md-4">
				<div class="comments">   
					<%= render "comments/form" %> 
				</div>
			</div>
			</div>
	</div>
</div>